<div class="auth-container">
    <div class="auth-card">
      <h1 class="title">Bucharest Pharmacy Map</h1>
      <h2>Login</h2>
      <form (ngSubmit)="login()" class="auth-form">
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Email"
          required
          class="auth-input"
        />
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Password"
          required
          class="auth-input"
        />
        <button type="submit" class="auth-button">Login</button>
      </form>
      <button class="auth-secondary-button" (click)="navigateToRegister()">
        Register
      </button>
    </div>
  </div>